# CMake general
build/

# Qt Creator
*.user

# CLion
# Sorry buddy, your own .gitignore has burnt me in the past
.idea/

# ESP-IDF
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# ESP-IDF special to us
sdkconfig.local