# Auxiliary clang-tidy
# We have 2nd one here to augment stock-standard one in / with additional
# things that only coap library wants
Checks:
  # Low level library, this can't be helped
  - '-bugprone-easily-swappable-parameters'
  # General avoidance of std in favor of estd means we use legacy headers sometimes
  - '-modernize-deprecated-headers'
