# Malachi clang-tidy convention: embedded v0.1.0
# Hosted at https://gitlab.com/malachi-linux/useful-scripts.git
Checks:
  # Low level library, this can't be helped
  - '-bugprone-easily-swappable-parameters'
  # General avoidance of std in favor of estd means we use legacy headers sometimes
  - '-modernize-deprecated-headers'
